body{
    background-color: black;    
    color:whitesmoke;
    font-family: "Times New Roman", Times, serif;

} /*all background should be balck and the alphabet should be white */
a:hover{
    color:red;
}
a{
    text-decoration:none;
    color: whitesmoke
}
.font1{
    background-image: url('../images/stadium.jpeg');  
    background-position: center;
    color:black;
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    margin:0 auto;
    overflow:hidden;
    font-size: 20px;
}/* used an stadium image as it background, centered it,  changed the font size made the font black */

.font{
    float:left;
    width:70%;
    box-sizing: border-box;  
}/* made the font size stay on the left so i could add a ball on the side */
#navbar{
    border-bottom: 1px red solid;
    padding-left: 15px ;
}
#navbar ul{
    padding:0;
	list-style:none;
}
/* I wanted no more bullet point so I removed it */

#navbar li{
    display: inline;
}
#navbar a{
	font-size:14px;
	padding-right: 15px;
    overflow: hidden;  
}
.clr{
	clear:both;
}
#main-footer{         
	background:red;
	color:whitesmoke;
	text-align: center;
	padding: 1px;
	margin-top: 20px;
}/* this is basically form the video watched with some changes */
